.transfer-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9.75em;
  height: 2.5em;
  padding: 1px 6px;
  border-radius: 1.25em;
  font-weight: 500;
  font-size: 1em;
  border: 1px solid #409fff;
  background: #409fff;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: all 300ms;
}

.transfer-button:hover {
  background-color: #0073e5;
}

.transfer-button__inactive,
.transfer-button__inactive:hover {
  background: #babcbf;
  border-color: #babcbf;
  color: #fff;
  cursor: default;
}
